.vert_flexbox{
  display: flex;
  flex-direction: column;
}


.main{
display: flex;
flex-direction: row;

}

.left{
  position:fixed;
  bottom: 0;
  left:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: slategray;
  background-size: cover;
  width: 36vw;
  max-width: 300px;
  align-items: center;
}

.right{
  width:100vw;
  overflow: auto;
  height: 100%;
  padding-left: 300px;
}

.headshot{
  border-radius: 250px;
  width: 150px;
  margin-top: 30px;
}

.name{
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: bold;
  font-size: 25px;
}

.description{
  font-size: 22px;
  font-family: Bookman, URW Bookman L, serif;
  text-align: center;
  margin-top: 10px;
  display:inline-block;
}

.description_div{
  text-align: center;
}

.mystack{
  font-family: American Typewriter, serif ;
}

.sb_btn_div{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.sb_btn{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: Bookman, URW Bookman L, serif;
  font-size: 20px;
  margin: 8px;
  color: rgb(255, 231, 180);
}

.socials{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.social_btn{
  width:40px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border:0;
  background-color: transparent;
}
.social_pic{
  width: 30px;
}

.email{
  font-size: 16px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: bold;
}

.about_me_background{
  background-color: rgb(233, 202, 130);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about_me_header{
  background-color:rgb(92, 148, 203);
}

.about_me_label{
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.about_me_p{
  font-size: 16px;
}


.resume_background{
  background-color: rgb(233, 202, 130);
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.resume_header_background{
  background-color: rgb(172, 195, 217);
  display: flex;
  flex-direction: column;
}

.resume_label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

.resume_body{
  direction: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

.resume_sublabel{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.skills_list{
  column-count: 2;
  grid-column-start: -1;
}

.skills_section{
  font-family: Georgia, 'Times New Roman', Times, serif;
}