.main{
display: flex;

}

.left{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: slategray;
  background-size: cover;
  width: 300px;
  align-items: center;
}

.headshot{
  border-radius: 250px;
  width: 150px;
  margin-top: 30px;
}

.name{
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: bold;
  font-size: 25px;
}

.description{
  font-size: 20px;
  font-family: Bookman, URW Bookman L, serif;
  text-align: center;
  margin-top: 10px;
  display:inline-block;
}

.description_div{
  text-align: center;
}