body{
  background-color: cornsilk;
  position: static;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  min-width: auto;
}

body::-webkit-scrollbar-thumb {
  display: none;
}


.Section {
  width: 100vw;
  height: auto;
}